<div class="container-fluid">
    <div class="d-flex mt-2 justify-content-center">
        <div class="card col-12 col-md-9">
            <div class="card-header text-center">
                <h4 *ngIf="!loadingFolder"><i class="fas fa-folder"></i> Folders > <i class="fas fa-folder-open"></i> {{selectedFolder.name}}</h4>
                <h4 *ngIf="loadingFolder"><i class="fas fa-folder"></i> Folders > <i class="fas fa-folder"></i> loading...</h4>
            </div>
            <div class="card-body container-scroll p-0">
                <div *ngIf="loadingItems; else showItems" class="d-flex justify-content-center mt-3">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

                <ng-template #showItems>
                    <div *ngIf="itemList.length == 0; else showList" class="d-flex justify-content-center h3 mt-3">
                        <span>Nothing here <i class="fas fa-frown"></i></span>
                    </div>
                    <ng-template #showList>
                        <div *ngFor="let item of itemList; let odd=odd; let even=even;">
                            <ul class="list-group">
                                <li class="list-group-item" [ngClass]="{ odd: odd, even: even }">
                                    <div class="form-check">                
                                        <input class="form-check-input" type="checkbox" [checked]="item.checked" (change)="onChangeDone(item)">    
                                        <span>{{ item.name }} </span>
                                        <div class="mx-1 badge bg-primary badge-link" (click)="openEditor(item)">
                                            <span class="d-none d-sm-block">Edit </span>
                                            <i class="d-block d-sm-none fas fa-edit"></i>
                                        </div>
                                        
                                        <div class="mx-1 badge bg-danger badge-link" (click)="deleteItem(item.$key)">
                                            <span class="d-none d-sm-block">Remove </span>
                                            <i class="d-block d-sm-none fas fa-trash-alt"></i>
                                        </div>                        
                                    </div>                 
                                </li>
                            </ul>   
                        </div> 
                    </ng-template>
                </ng-template>

            </div>
            <div class="card-footer">
                <form ngNativeValidate (ngSubmit)="addItemAction(folderForm)" #folderForm="ngForm">

                    <div class="row mx-2">                
                        <div class="my-1 col-12 col-md-7">
                            <input type="text" class="form-control mx-1" id="itemName" autocomplete="off" placeholder="New item name" required name="itemName" ngModel>
                        </div>    
                        <button type="submit" class="btn btn-dark text-white my-1 col-12 col-md-4 col-lg-2"><i class="fas fa-plus-square"></i> Add</button>                    
                    </div>                
                </form>
            </div>        
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="col-12 col-md-6 btn btn-primary" [routerLink]="'/folders'"><i class="fas fa-arrow-circle-left"></i> Back</button>
                </div>                
            </div>
        </div>        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editing Task '{{editingItem.name}}'</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form ngNativeValidate (ngSubmit)="editItem(editForm)" #editForm="ngForm">
                <div class="modal-body">
                    <input type="text" class="form-control col mx-1" autocomplete="off" [placeholder]="'New name for '+editingItem.name" required name="editNewName" ngModel>                
                </div>
                <div class="modal-footer">                
                    <button type="button" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-window-close"></i> Close</button>
                </div>
            </form>
        </div>
    </div>
  </div>