<div class="container-fluid">
    <div class="d-flex mt-5 justify-content-center">
        <div class="card col-8">
            <div class="card-header text-center">
                <h4>Folders</h4>
            </div>
            <div class="card-body">
                <div class="form-check">                    
                    <span class="mx-1">- [Folder 1 Name] </span>
                    <span class="text-primary"> View Items</span> |
                    <span class="text-primary"> Remove</span>                   
                </div>
                <div class="form-check">                    
                    <span class="mx-1">- [Folder 2 Name] </span>
                    <span class="text-primary"> View Items</span> |
                    <span class="text-primary"> Remove</span>                     
                </div>
                <div class="form-check">                    
                    <span class="mx-1">- [Folder 3 Name] </span>
                    <span class="text-primary"> View Items</span> |
                    <span class="text-primary"> Remove</span>                     
                </div>
                <div class="form-check">                    
                    <span class="mx-1">- [Folder 4 Name] </span>
                    <span class="text-primary"> View Items</span> |
                    <span class="text-primary"> Remove</span>                   
                </div>
                <div class="form-check">                    
                    <span class="mx-1">- [Folder N Name] </span>
                    <span class="text-primary"> View Items</span> |
                    <span class="text-primary"> Remove</span>
                </div>
            </div>
            <div class="card-footer">
                <div class="row mx-2">
                    <input type="text" class="form-control col mx-1" id="nombre" autocomplete="off" placeholder="Enter new folder name" required name="nombre" ngModel>
                    <button type="submit" class="mx-1 col-1 btn btn-dark text-white">Add</button>
                </div>                
            </div>        
            <div class="card-footer">
                <div class="row">
                    <button type="submit" class="col-12 btn btn-info">Logout</button>
                </div>                
            </div>
        </div>        
    </div>
</div>
