<div class="container-fluid">
    <div class="d-flex mt-5 justify-content-center">
        <div class="card col-8">
            <div class="card-header text-center">
                <h4>Folders</h4>
            </div>
            <div class="card-body">
                <div *ngFor="let folder of folderList">                    
                    <span>- {{ folder.name }} </span>
                    <a class="mx-1 link-primary" (click)="viewFolder(folder)">View Items</a>
                    <a class="mx-1 link-primary" (click)="deleteFolder(folder.$key)">Remove</a>                        
                                
                </div>
            </div>
            <div class="card-footer">
                <form ngNativeValidate (ngSubmit)="addFolderAction(folderForm)" #folderForm="ngForm">
                    <div class="row mx-2">                    
                        <input type="text" class="form-control col mx-1" id="folderName" autocomplete="off" placeholder="Enter new folder name" required name="folderName" ngModel>
                        <button type="submit" class="mx-1 col-1 btn btn-dark text-white">Add</button>                    
                    </div>                
                </form>
            </div>        
            <div class="card-footer">
                <div class="row">
                    <button type="submit" class="col-12 btn btn-primary">Logout</button>
                </div>                
            </div>
        </div>        
    </div>
</div>